
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
*{
    padding:0;
    margin:0;
    font-family:'Bona Nova', serif;
}
body{
    background-color:gray
}
.main{
     width : 80%;
     margin: 0 auto;
     text-align: center;
}
.heading h1{
    color:  #030e12;
    font-size: 48px;
    font-weight:900;
    letter-spacing: 1px;
    padding-top: 2rem;
    margin: 1rem;
}
.search-bar{
    margin:1rem 0;
    width:400px;
    height:40px;
    border:none;
    border-radius: 1rem;
    padding:0.3rem 1 rem;
}
.container{
    width:80%;
    margin:25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 2rem;
}
.card{
    width:180px;
    border-radius: 1rem;
    background-color: yellow;
    padding: 5px;
}
img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;

}
.card h3{
    color: black;
    font-size: 18px;
}
